<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js?dynamic=true"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <title>Sparx</title>
</head>
<body>
  <p-general>



    <o-header mobile-breakpoint="100vw" no-scroll="nav-open" menu-icon="true" namespace="header-">
      <m-navigation hover="false" namespace="navigation-" mobile-breakpoint="0vw" no-scroll="nav-open">
        <ul>
          <li>
            <a href="/about/" target="">About</a>
          </li>
          <li>
            <a href="/forderung/" target="">Förderung</a>
          </li>
          <li>
            <a href="/kosmos/" target="">Kosmos</a>
          </li>
          <li>
            <a href="/studios/" target="">Studios</a>
          </li>
          <li>
            <a href="/news/" target="">News</a>
            <ul>
              <li>
                <a href="/news/neue-sparx-home-page/" target="">Neue Sparx Home Page</a>
              </li>
              <li>
                <a href="/news/noch-eine-neue-news/" target="">Noch eine neue News</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/netzwerk/" target="">Netzwerk</a>
          </li>
        </ul>
      </m-navigation>




    </o-header>
    <base-o-body>
    <base-m-contact-form type="newsletter" namespace="contactform-" namespace-children="" use-html-submit>

    <style>
        :host form a-button {
            justify-content: center;
            display: flex;
            height: 70px;
            width: 30%;
            padding: 2em;
        }

        :host form a-input input:-webkit-autofill,
        :host form a-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: var(--background-color);
        }


        @media only screen and (max-width: 1000px) {
            :host form a-input, :host form a-text-area {
                width: 100% !important;
            }
        }
    </style>

<form action="/kontakt/" enctype="multipart/form-data" id="form7085fdc89121403f867c60df9739a1f1" method="post"><label for="Data_Name">Name *</label><input class="form-control mandatory" id="Data_Name" name="Data.Name" placeholder="Bitte gib deinen Vornamen und deinen Nachnamen ein.." required="" type="text" validation-message="Dies ist ein Pflichtfeld" value="" /><label for="Data_Email">Email *</label><input class="form-control mandatory" id="Data_Email" name="Data.Email" placeholder="Bitte gib deine Email-Adresse ein.." required="" type="email" validation-message="Bitte eine g&#xFC;ltige Email-Adresse eingeben" value="" /><label for="Data_Comment">Deine Anfrage *</label><textarea class="form-control mandatory" id="Data_Comment" name="Data.Comment" placeholder="Gib hier deine Anfrage ein" required="" style="margin-top:2em;" validation-message="Dies ist ein Pflichtfeld">
</textarea><input data-val="true" data-val-required="The SenderMailConfigId field is required." id="Data_SenderMailConfigId" name="Data.SenderMailConfigId" type="hidden" value="1225" /><input data-val="true" data-val-required="The ReceiverMailConfigId field is required." id="Data_ReceiverMailConfigId" name="Data.ReceiverMailConfigId" type="hidden" value="1225" /><input data-val="true" data-val-required="The LandingPageId field is required." id="Data_LandingPageId" name="Data.LandingPageId" type="hidden" value="cde4a320-9a40-4b8c-9605-fbe545c1e159" />        <button 
                type="submit" 
                id="submitButton"
                class="g-recaptcha" 
        data-sitekey="6Ld1RugcAAAAAPfUk_QFg4qS6Jh8ciri0zEvN46D" 
        data-callback='onSubmit' 
        data-action='submit'>Senden</button>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8AYJWowgNotJrT86fGt7NjQd2Yb3OxJgu3aSFwD3lyLHPhqZrHk5b2HmY2pkmQyvXa7oPaOm7qkyhFC2ZiXps622ZPCMF-LAd4lDP7ngpXqn3DndblCEQ9U08mns_ocnR1xZdKs-x3O1XbjC0VtoPY4" /><input name="ufprt" type="hidden" value="CfDJ8AYJWowgNotJrT86fGt7NjSnez9RByogg-ZqqlvQMXpc_BQ6eA1HWAlzzAAq2msjhSa6ch6RuMX5rmhVCakPYQoxikZCnSqt7LlDD13C-W_B0lYJN7mqvZt1_YXOYgwQXWQjVtNFZH62Cq7IEyZlPa4" /></form></base-m-contact-form>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.   

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.   

At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.   

Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.   

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
  </p>


  <!-- <base-m-contact-form use-html-submit namespace="contactform-">
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" />
    <label>Comment</label>
    <textarea id="comment"></textarea>
    </form>

  </base-m-contact-form> -->

<h2 id='test'>TEST</h2>
    </base-o-body>
    <o-footer namespace="footer-">
      <style>
        :host footer {
            height: 100%;
        }
    </style>



      <div class="footer-links">
        <ul>
          <li>
            <p>© 2021</p>
          </li>
          <li>
            <p class="language-switcher">
              <a href="http://testadmin.sparx-space.ch/"> EN </a> <a href="http://testadmin.sparx-space.ch/"> FR </a>
            </p>
          </li>
          <br>
          <li>
            <p></p>
          </li>
        </ul>
      </div>
    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  </body>
</html>